@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --header-color:#131921;
    --main-color:#ff9f00;
    --btn-color:#F7CA00;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline:none;
    list-style-type: none;
}

img{
    max-width: 100%;
    display: block;
}

button{
    border:0;
    cursor: pointer;
}

html{
    font-size: 62.5%;
    background-color: rgb(235, 233, 233);
    
}

html, body{
    overflow-x: hidden;
}
body{
    font-size: 1rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

a:visited{
    text-decoration: none;
}

